
@{
    ViewBag.Title = "About1";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.scrollify.min.js"></script>
<link href="~/Content/css/aos.css" rel="stylesheet" />
<script src="~/Content/js/aos.js"></script>
<link href="~/Content/css/myCss/style.css" rel="stylesheet">

<!-- Items -->


<section class="scroll s-one" data-section-name="s-one ">
    <div class="top-nav" style="padding-bottom:34px">
        <div class="container">
            <div class="col-md-6 col-sm-7 col-xs-7 right-nav">
                <!-- Client Area -->
                <div class="clientarea">
                    <ul>
                        <li><a href=""><i class="fa fa-user-plus"></i> <label role="button">عضویت</label> </a></li>
                        <li><a href=""><i class="fa fa-user"></i> <label role="button">ورود به سایت</label> </a></li>
                    </ul>
                </div>
                <!-- End Client Area  -->
            </div>
        </div>
    </div>

    <div class="container">
        <h6 class="px-2 py-3 my-4">برترین سامانه ها</h6>
        <div class="row mb-4">
            <div class="images image0 item-fallow col-lg-4 col-sm-6 col-12 ">
                <div class="item position-relative overflow-hidden" data-aos="fade-up">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/11.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه سهند</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 item-fallow image1 images">
                <div class="item position-relative overflow-hidden" data-aos="fade-up">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/00.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه ره یافت</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 item-fallow image2 images">
                <div class="item position-relative overflow-hidden" data-aos="fade-up">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/22.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه DVR</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                                <a href="#" class="shiny rounded-2">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6 col-12" data-aos="fade-down">
                <div class="item position-relative overflow-hidden ">
                    <div class="my-card">
                        <div class="img img-fluid">
                            <img src="~/Content/images/assets/00.jpg" alt="img">
                        </div>
                        <div class="info">
                            <h3>سامانه سهند</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12" data-aos="fade-down">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/22.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه ره یافت</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12" data-aos="fade-down">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/11.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه DVR</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#" id="btn_showModal">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="scroll s-two" data-section-name="s-two">
    <div class="container">
        <h6 class="px-2 py-3 my-4">برترین سامانه ها</h6>
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6 col-12 " data-aos="flip-left">
                <div class="item position-relative overflow-hidden ">
                    <div class="my-card ">
                        <div class="img img-fluid"><img src="~/Content/images/assets/00.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه سهند</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12" data-aos="fade-down">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/22.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه ره یافت</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12" data-aos="flip-right">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/11.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه DVR</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#" id="btn_showModal">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="scroll-control">
        <span class="one"></span>
        <span class="two"></span>
    </div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModalLabel"></h5>
                <button type="button" class="btn-close m-0" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="myModalBody" class="d-flex">
            </div>
            @*<div class="modal-footer d-flex justify-content-start">
                    <button type="button" class="btn btn-secondary float-start" data-bs-dismiss="modal">بستن</button>
                </div>*@

        </div>
    </div>
</div>

@* Modal Script *@
<script>
    var btn_showModal = document.getElementById('btn_showModal')
    var myModalLabel = document.getElementById('myModalLabel')
    var myModalBody = document.getElementById('myModalBody')
    var myModal = new bootstrap.Modal(document.getElementById('myModal'), {
        keyboard: false
    })
    btn_showModal.addEventListener('click', function () {
        $.get("/home/TestConnection", function (result) {
            myModal.show();
            myModalLabel.innerHTML = "تست اتصال";
            myModalBody.innerHTML = result;
        })
    })
</script>

<script>
    AOS.init();
</script>

<script>
    $(document).ready(function () {
        $.scrollify({
            section: '.scroll',
            sectionName: 'section-name',
            //standardScrollElements: 'section',
            easing: 'easeOutExpo',
            scrollSpeed: 1100,
            offset: 0,
            scrollbars: true,
            setHeight: true,
            overflowScroll: true,
            updateHash: true,
            touchScroll: true,
        });

        $('.scroll-control .one').click(function () {
            $.scrollify.move('#s-one');
        });
        $('.scroll-control .two').click(function () {
            $.scrollify.move('#s-two');
        });
    })
</script>

@* Items Moves Script *@
<script>
    if (window.innerWidth > 1200 || window.innerWidth > 1500) {
        let cc = document.querySelectorAll(".item-fallow");
        let i = 0
        cc.forEach(() => {
            cc[i].classList.remove('images')
            cc[i].classList.remove(`image${i}`)
            i++;
        });
    }
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 65
        let cc = document.querySelector('.container')
        //const { x, y } = window.screen.getBoundingClientRect();
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 270
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x1", xx
        );
        //document.body.style.setProperty("--mouse-x1", e.clientX - x);
        document.body.style.setProperty(
            "--mouse-y1", yy
        );
    }, false);
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 100
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 270
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x2", xx
        );
        document.body.style.setProperty(
            "--mouse-y2", yy
        );
    }, false);
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 240
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 270
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x3",
            xx
        );
        document.body.style.setProperty(
            "--mouse-y3", yy
        );
    }, false);
</script>

@* Each Button Shiny Hover *@
<script>
    const buttons = document.querySelectorAll(".shiny");
    buttons.forEach(button => {
        button.addEventListener("mousemove", (e) => {
            //console.log(button);
            const { x, y } = button.getBoundingClientRect();
            button.style.setProperty("--x", e.clientX - x);
            button.style.setProperty("--y", e.clientY - y);
        });
    })
</script>
