
@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<link href="~/Content/css/myCss/style.css" rel="stylesheet">
@*<div class="top-nav">
    <div class="container">
        <div class="right-nav">
            <div class="clientarea">
                <ul>
                    @Html.Partial("_LoggedInUser")
                </ul>
            </div>
        </div>
    </div>
</div>*@
<div class="container">
    <h5 class="px-2 my-5">ادمین برترین سامانه ها</h5>

    <div>
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6 col-12 item-fallow image0 images">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/11.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه سهند</h3>
                            <div class="d-flex flex-column">
                                <div class=" mx-5 d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                                <div class=" mx-5  d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 item-fallow image1 images">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/00.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه ره یافت</h3>
                            <div class="d-flex flex-column">
                                <div class=" mx-5 d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                                <div class=" mx-5  d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12 item-fallow image2 images">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/22.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه DVR</h3>
                            <div class="d-flex flex-column">
                                <div class=" mx-5 d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                                <div class=" mx-5  d-flex justify-content-center">
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                    <a href="#" class="shiny rounded-2 p-3">تست اتصال</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6 col-12 ">
                <div class="item position-relative overflow-hidden ">
                    <div class="my-card ">
                        <div class="img img-fluid"><img src="~/Content/images/assets/00.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه سهند</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/22.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه ره یافت</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-12">
                <div class="item position-relative overflow-hidden">
                    <div class="my-card">
                        <div class="img img-fluid"><img src="~/Content/images/assets/11.jpg" alt="img"></div>
                        <div class="info">
                            <h3>سامانه DVR</h3>
                            <div class="my-5 mx-5 p-2 d-flex justify-content-center gap-3">
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                                <a href="#">تست اتصال</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>

    if (window.innerWidth > 1200 || window.innerWidth > 1500) {
        let cc = document.querySelectorAll(".item-fallow");
        let i = 0
        cc.forEach(() => {
            cc[i].classList.remove('images')
            cc[i].classList.remove(`image${i}`)
            i++;
        });
    }
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 65
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 120
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x1", xx
        );
        document.body.style.setProperty(
            "--mouse-y1", yy
        );
    }, false);
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 100
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 120
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x2", xx
        );
        document.body.style.setProperty(
            "--mouse-y2", yy
        );
    }, false);
    window.addEventListener("mousemove", (e) => {
        let xx = (e.clientX / document.body.offsetWidth) * 210
        if (xx > 70) {
            xx = 70;
        }
        if (xx < 30) {
            xx = 30;
        }
        let yy = (e.clientY / document.body.offsetHeight) * 120
        if (yy > 70) {
            yy = 70;
        }
        if (yy < 30) {
            yy = 30;
        }
        document.body.style.setProperty(
            "--mouse-x3",
            xx
        );
        document.body.style.setProperty(
            "--mouse-y3", yy
        );
    }, false);

</script>

<script>
    const buttons = document.querySelectorAll(".shiny");
    //const readout = document.querySelector("p");
    buttons.forEach(button => {

        button.addEventListener("mousemove", (e) => {
            const { x, y } = button.getBoundingClientRect();
            button.style.setProperty("--x", e.clientX - x);
            button.style.setProperty("--y", e.clientY - y);
        });
    })
</script>

