<div class="container my-3">
    <section class="d-flex justify-content-around mb-2">
        <label class="col-6 container1 mx-4 d-flex justify-content-around align-items-center rounded-2">
            <span class="fontSmaller">TestConnection 1</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_true rounded-1"></span>
        </label>
        <label class="col-6 container1 mx-4 d-flex justify-content-around align-items-center rounded-2">
            <span class="fontSmaller">TestConnection 2</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_wait rounded-1 d-flex justify-content-center align-items-center"><span class="load"></span></span>
        </label>
    </section>
    <section class="d-flex justify-content-around mb-2">
        <label class="container1 mx-4 d-flex justify-content-around align-items-center rounded-2">
            <span class="fontSmaller">TestConnection 3</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_true rounded-1"></span>
        </label>
        <label class="container1 mx-4 d-flex justify-content-around align-items-center rounded-2" >
            <span class="fontSmaller">TestConnection 4</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_false rounded-1"></span>
        </label>
    </section>
    <section class="d-flex justify-content-around mb-2">
        <label class="container1 mx-4 d-flex justify-content-around align-items-center rounded-2">
            <span class="fontSmaller">TestConnection 5</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_true rounded-1"></span>
        </label>
        <label class="container1 mx-4 d-flex justify-content-around align-items-center rounded-2">
            <span class="fontSmaller">TestConnection 6</span>
            <input type="checkbox" checked="checked" disabled>
            <span class="checkmark checkmark_wait rounded-1 d-flex justify-content-center align-items-center"><span class="load"></span></span>
        </label>
    </section>

</div>

